<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Error Page</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/errorPage.css}">

</head>
<body>
  <div class="container">
    <h1 th:if="${error}" th:text="${error}" class="text-center "></h1>
    <p>Click <a href="/home">here</a> back to home page</p>
  </div>
</body>
</html>